*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# some python stuff
*.pyc

# video fles
*.mov
*.avi

# NetBeans specific #
/practica-1/nbproject/private/
/practica-1/build/
/practica-1/nbbuild/
/practica-1/dist/
/practica-1/nbdist/
/practica-1/nbactions.xml
/practica-1/nb-configuration.xml

/practica-2/nbproject/private/
/practica-2/target/
/AvCont-4/nbproject/private/
/AvCont4/nbproject/private/
/AvCont4/target/
/AvCont4/nbproject/
/Project/target/
/Project/nbproject/


/AvCont4b/target/
/AvCont5/target/