*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# NetBeans specific #
/practica-1/nbproject/private/
/practica-1/build/
/practica-1/nbbuild/
/practica-1/dist/
/practica-1/nbdist/
/practica-1/nbactions.xml
/practica-1/nb-configuration.xml